<h1>Listing micoroposts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micoroposts.each do |micoropost| %>
  <tr>
    <td><%= micoropost.content %></td>
    <td><%= micoropost.user_id %></td>
    <td><%= link_to 'Show', micoropost %></td>
    <td><%= link_to 'Edit', edit_micoropost_path(micoropost) %></td>
    <td><%= link_to 'Destroy', micoropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micoropost', new_micoropost_path %>
